.container {
  padding: 20px;
}

/* Style the Card component */
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100%; /* Ensure the card takes full height in the grid item */
}

/* Style the CardContent */
.card-content {
  flex-grow: 1;
  padding: 16px;
}

/* Style the product name */
.card-content h6 {
  margin-bottom: 10px;
}

/* Style the product description */
.card-content p {
  margin: 0;
}

/* Style the product price */
.card-content .price {
  margin-top: 10px;
}

/* Style the image */
.card img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
