.bg-custom-gray {
  background-color: #959191;
}

.header {
  position: relative;
  background-color: #959191;
}

.profile-bar {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 32px;
  margin-top: 24px;
  gap: 5px;
  color: #ede7dc;
  cursor: pointer;
}

.profile-bar:hover {
  color: white;
}

.profile-name {
  font-size: 18px;
  margin-right: 10px;
}

.avatar-icon {
  font-size: 25px;
}
.logo-section {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  color: white;
  font-size: 40px;
  letter-spacing: 15px;
  display: flex;
}

.nav-links-container {
  color: #ede7dc;
  font-size: 18px;
  display: flex;
  padding-left: 4px;
}

.nav-link {
  padding-bottom: 2px;
  transition: all 0.3s;
  border-bottom: 2px solid transparent;
  margin-left: 30px;
}

.nav-link:hover {
  border-bottom-color: #745d4a;
}

.buy-anything-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
}

.buy-anything-container {
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  z-index: 50;
}

.buy-anything-text {
  width: 70%;
  color: #ede7dc;
  font-size: 40px;
  margin-bottom: 20px;
}

.order-now-button-container {
  display: flex;
  align-items: flex-start;
  width: 70%;
}
.order-now-button {
  color: #ede7dc;
  border: 2px solid #ede7dc;
  padding: 1rem 2.5rem;
  transition: all 0.3s;
}

.order-now-button:hover {
  border-color: #745d4a;
  color: white;
}

.buy-anything-section-image-section {
  position: absolute;
  right: 20%;
  bottom: -150px;
  transition: bottom 0.3s;
}

.buy-anything-section-image-section:hover {
  bottom: -100px;
}

.buy-anything-section-image-container {
  width: 500px;
  height: 600px;
}
.gallery-title-container {
  text-align: center;
  padding-top: 9rem;
  padding-bottom: 3rem;
  background-color: #faf4e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-title {
  color: #262b2c;
  font-size: 2rem;
}

.gallery-title:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.bold-text {
  font-weight: bold;
  letter-spacing: widest;
}
.gallery-section {
  background-color: #faf4e8;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 12px;
  padding-left: 28px;
}

.gallery-column {
  width: 30%;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.gallery-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.gallery-image.large {
  height: 350px;
}

.gallery-image:hover {
  transform: scale(1.1);
}
.cocook-section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
}

.cocook-content {
  width: 30%;
}

.cocook-title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: medium;
  text-align: center;
}

.cocook-description {
  text-align: justify;
}

.cocook-image {
  width: 300px;
  height: 100px;
  object-fit: contain;
}
.product-list {
  display: flex;
  justify-content: center;
  background-color: #faf4e8;
  padding: 0 3rem;
  padding-bottom: 3rem;
}

.product-card {
  width: 30%;
  margin-right: 12px;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.product-card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.product-image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
}

.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.product-divider {
  margin: 0;
}

.product-price {
  margin-bottom: 50px;
}

.order-button {
  width: 100%;
  padding: 1rem 3rem;
  border: 1px solid transparent;
  transition: all 0.3s;
}

.order-button:hover {
  border: 1px solid black;
}
